@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  color: #3c4043;
}

.react-flow__node {
  @apply bg-white border border-gray-300 rounded-xl p-5 shadow-md min-w-60;
}

.react-flow__node:hover {
  @apply shadow-lg;
}

.react-flow__handle {
  @apply w-3 h-3 bg-primary border-2 border-white;
}

.react-flow__edge-path {
  stroke: #dadce0;
  stroke-width: 2;
}